* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Karla", sans-serif;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    max-width: 600px;
}
form{
    display: flex;
    align-items: center;
    gap: 20px;
}
.scheme-output{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scheme-color{
    display: flex;
    margin: 20px 0;
    
}
.scheme-hex{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    
}
.each-color{
    height: 200px;
    width: 100px;
}
.each-hex{
    width: 100px;
    margin: 0 auto;
}
select,button{
    background-color: white;
    border: 1px solid #D1D5DB;
    padding: 10px;
    font-family: inherit;
    border-radius: 2px;
}
option{
    background-color: white;
}